<div class="filters">
  <mat-form-field class="example-form-field">
    <input matInput type="text" placeholder="Buscar" [(ngModel)]="filterBy.search" (ngModelChange)="valuechange($event)"/>
    <button mat-button *ngIf="filterBy.search" matSuffix mat-icon-button aria-label="Clear" (click)="filterBy.search=''; valuechange('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="sorting">
    <span *ngFor="let f of filters" (click)="sort(f.name)"
      [ngClass]="{'asc': filterBy.orderBy === f.name && filterBy.order === 'asc', 'desc': filterBy.orderBy === f.name && filterBy.order === 'desc'}">
      {{ f.name }}
      <mat-icon aria-label="sort"></mat-icon>        
    </span>
  </div>
</div>
<div *ngIf="!items" class="loading">
    <mat-spinner [diameter]="25" [strokeWidth]="3"></mat-spinner>    
</div>
<mat-card class="example-card" *ngFor="let item of items">
  <img mat-card-image src="../assets/{{item.image}}" alt="{{item.title}}">
    <mat-card-header>
      <button mat-icon-button color="warn" (click)="addFavorites(item)">
        <mat-icon *ngIf="item._liked" aria-label="liked">favorite</mat-icon>
        <mat-icon *ngIf="!item._liked" aria-label="not_liked">favorite_outline</mat-icon>        
      </button>    
      <div>
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle>{{item.email}}</mat-card-subtitle>
      </div>
      <span>{{item.price | number: '1.2-2'}} €</span>            
    </mat-card-header>      
</mat-card>

<mat-paginator [length]="totalItems"
  [pageIndex]="0"
  [pageSize]="pageSize" 
  (page)="nextPage($event)">
</mat-paginator>