<div class="filters">
  <div class="inputs">
    <mat-form-field>
      <mat-select placeholder="Search by:" [(ngModel)]="filterBy" (ngModelChange)="reset()">
        <mat-option *ngFor="let f of filters" [value]="f.name">
          {{ f.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container [ngSwitch]="filterBy">
        <mat-form-field *ngSwitchCase="'price'">
            <input matInput type="number" placeholder="Buscar"  [(ngModel)]="filter[filterBy]" [disabled]="!filterBy" />
            <button mat-button *ngIf="filter[filterBy]" matSuffix mat-icon-button aria-label="Clear" (click)="filter[filterBy]=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field *ngSwitchDefault>
          <input matInput type="text" placeholder="Buscar"  [(ngModel)]="filter[filterBy]" [disabled]="!filterBy" />
          <button mat-button *ngIf="filter[filterBy]" matSuffix mat-icon-button aria-label="Clear" (click)="filter[filterBy]=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
    </ng-container>
  </div>
  <label>
      Sort by:
  </label>
  <div class="sorting">
    <span *ngFor="let f of filters" (click)="sort(f.name, order)"
      [ngClass]="{'asc': fieldName === f.name && order === true, 'desc': fieldName === f.name && order === false}">
      {{ f.name }}
      <mat-icon aria-label="sort"></mat-icon>        
    </span>
  </div>
</div>
<div *ngIf="!items" class="loading">
    <mat-spinner [diameter]="25" [strokeWidth]="3"></mat-spinner>    
</div>
<mat-card *ngFor="let item of items | itemfilter:filter | itemsort:fieldName:order | slice:(page-1)*limit:page*limit">
  <img mat-card-image src="../assets/{{item.image}}" alt="{{item.title}}">
    <mat-card-header>
      <button mat-icon-button color="warn" (click)="addFavorites(item)">
        <mat-icon *ngIf="item._liked" aria-label="liked">favorite</mat-icon>
        <mat-icon *ngIf="!item._liked" aria-label="not_liked">favorite_outline</mat-icon>        
      </button>    
      <div>
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle>{{item.email}}</mat-card-subtitle>
      </div>
      <span>{{item.price | number: '1.2-2'}} €</span>            
    </mat-card-header>      
</mat-card>

<mat-paginator [length]="(items | itemfilter:filter)?.length"
  [pageSize]="limit" 
  (page)="nextPage($event)">
</mat-paginator>