<span (click)="filter('', 'title')"
  [ngClass]="{'asc': filterBy.orderBy === 'title' && filterBy.order === 'asc', 'desc': filterBy.orderBy === 'title' && filterBy.order === 'desc'}">
  Title
  <mat-icon aria-label="liked"></mat-icon>    
</span>
<span (click)="filter('', 'price')" 
  [ngClass]="{'asc': filterBy.orderBy === 'price' && filterBy.order === 'asc', 'desc': filterBy.orderBy === 'price' && filterBy.order === 'desc'}">
  Price
  <mat-icon aria-label="liked"></mat-icon>  
</span>
<span (click)="filter('', 'description')"
  [ngClass]="{'asc': filterBy.orderBy === 'description' && filterBy.order === 'asc', 'desc': filterBy.orderBy === 'description' && filterBy.order === 'desc'}">
  Description
  <mat-icon aria-label="liked"></mat-icon>    
</span>
<span (click)="filter('', 'email')" 
  [ngClass]="{'asc': filterBy.orderBy === 'email' && filterBy.order === 'asc', 'desc': filterBy.orderBy === 'email' && filterBy.order === 'desc'}">
  Email
  <mat-icon aria-label="liked"></mat-icon>  
</span>
<mat-card class="example-card" *ngFor="let item of items">
  <img mat-card-image src="../assets/{{item.image}}" alt="Photo of a Shiba Inu">
    <mat-card-header>
      <button mat-icon-button color="warn" (click)="addFavorites(item)">
        <mat-icon *ngIf="item._liked" aria-label="liked">favorite</mat-icon>
        <mat-icon *ngIf="!item._liked" aria-label="not_liked">favorite_outline</mat-icon>        
      </button>    
      <div>
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle>{{item.email}}</mat-card-subtitle>
      </div>
      <span>{{item.price}} €</span>            
    </mat-card-header>      
</mat-card>

<mat-paginator [length]="totalItems"
  [pageIndex]="0"
  [pageSize]="pageSize" 
  (page)="nextPage($event)">
</mat-paginator>